---
interface Props {
    link: string;
    blank: boolean;
    clase: string;
    color:string
}

const { link, blank, clase, color} = Astro.props;
---

<a href={link} target={blank ? '_blank' : '_self'} class={clase} style=`color: ${color}`>
    <slot/>
</a>
<style>
    a{
        color
    }
    .min{
        transform: scale(1);
    }

    .med {
        transform: scale(1.1);
    }

    .max {
        transform: scale(1.3);
    }
    @media (width >= 700px){
    .min {
        transform: scale(1.4);
    }

    .med {
        transform: scale(1.7);
    }

    .max {
        transform: scale(1.9);

    }
    }


</style>