---
interface Props {
	title: string;
}

const { title } = Astro.props;


---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
	<script>
		function iniciarMap(){
			var coord = {lat:-34.5956145 ,lng: -58.4431949};
			var map = new google.maps.Map(document.getElementById('map'),{
			zoom: 10,
			center: coord
			});
			var marker = new google.maps.Marker({
			position: coord,
			map: map
			});
		}
	</script>
</html>
