---

---

<section id="Sobre-nosotros">
    <header>
        <h3>Sobre nosotros</h3>
    </header>
    <article>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor beatae sed, delectus ea accusamus, ipsam similique minus placeat odit, quam dignissimos perspiciatis aliquam debitis doloremque minima accusantium! Obcaecati, itaque animi.</p>
        <img src="../../../../public/images/temp/about-01.jpg" alt="">
    </article>
    <article>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor beatae sed, delectus ea accusamus, ipsam similique minus placeat odit, quam dignissimos perspiciatis aliquam debitis doloremque minima accusantium! Obcaecati, itaque animi.</p>
        <img src="../../../../public/images/temp/about-02.jpeg" alt="">
    </article>
</section>

<style>
    section{
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
        justify-content: center;
        padding-inline: var(--paddingsection-inline);
    }

    h3{
        font-size: var(--subtitlesection);
        padding: var(--paddingsubtilteSection);
        border-bottom: 1px solid black;
    }

    article{
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        align-items: center;
        padding-block: 10px;

    }

    article p{
        text-wrap: pretty;
    }
    img{
        width: 100%;
    }
</style>